{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="빅데이터 기반 키워드 분석 키워드 추천 키워드 검색 블로그 유튜브 인스타그램 SNS">
    <meta name="author" content="modapanda.corp@gmail.com">
    <!-- google search console -->
    <meta name="google-site-verification" content="y-hZprYUpoeSgSAANnrd22c8gA9-tAedXo-juUi90q4" />

    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9699791292882054"
     crossorigin="anonymous"></script> 

    <!-- naver search advisor -->
    <meta name="naver-site-verification" content="3aa46279d4f0a9c5e94fb4913c6a8f07fb36ca0b" />
    <title id="mainTitle">모두의 키워드, 모키</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'image/favicon.ico/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'image/favicon.ico/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'image/favicon.ico/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/favicon.ico/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'image/favicon.ico/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'image/favicon.ico/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'image/favicon.ico/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'image/favicon.ico/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon.ico/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'image/favicon.ico/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon.ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'image/favicon.ico/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon.ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'image/favicon.ico/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'xxx.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/auth.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
        charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mokey.net/">
    <meta property="og:title" content="모두의 키워드, 모키">
    <meta property="og:image" content="https://www.mokey.net/static/image/logo/menu_logo.png">
    <meta property="og:description" content="빅데이터 기반 무료 키워드분석 서비스">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:locale" content="en_US">
    <!-- 다음의 태그는 필수는 아니지만, 포함하는 것을 추천함 -->

    
</head>

<body class="min-vh-100">
    
    <div class="cover-container d-flex p-3 mx-auto flex-column min-vh-100" id="body_content">
        <header class="masthead">
            <div class="inner d-flex flex-row justify-content-around">
                <h3 class="masthead-brand">
                    <a class="nav-link text-dark" href="{% url 'index' %}">
                        <img src="{% static 'image/logo/menu_logo.png' %}" alt="" width="auto;" height="30px;">
                    </a>
                </h3>
                <nav class="nav nav-masthead d-flex flex-row justify-content-center navlinkbar" id="masthead">
                    <a class="nav-link my-auto" href="{% url 'live_keyword' %}">인기검색어</a>
                    <a class="nav-link my-auto" href="{% url 'ranking_news' %}">인기뉴스</a> 
                    <a class="nav-link my-auto" href="{% url 'search_bulk' %}">대량분석</a> 
                    <a class="nav-link my-auto" href="{% url 'recommend_keywords' %}">키워드추천</a>
                    {% if request.user.is_staff %}
                    <a class="nav-link my-auto" href="{% url 'expandKeyword' %}">키워드확장</a>  
                    <a class="nav-link my-auto" href="{% url 'blogAnaylize' %}">블로그분석</a>
                    {% endif %}
                    <a class="nav-link my-auto" href="{% url 'keywordHistory' %}">검색기록</a>
                    <div class="bg-danger text-white" id="hisotryCounter" style="padding-top:1.5px; opacity: 70%; top:2px; right:8px; width:20px; height:20px; border-radius:100%; font-size:10px; text-align:center; position:relative; ">
                        0<!-- javascript -->
                    </div>
                    <a class="nav-link my-auto" href="{% url 'introductionPage' %}">
                        <span>모키란?</span>
                    </a> 
                    {% if request.user.is_active %}
                    <div class="dropdown nav-link mt-2">
                        <a class="dropdown-toggle text-primary" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{request.user.first_name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item my-auto" href="{% url 'authentication:user_logout' %}">로그아웃</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="dropdown nav-link my-auto dropdownMenuLink">
                        <a class="dropdown-toggle text-danger" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Guest
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item my-auto" href="{% url 'authentication:user_login' %}">로그인</a>
                            <a class="dropdown-item my-auto" href="{% url 'authentication:user_register' %}">회원가입</a>
                        </div>
                    </div>
                    {% endif %}
                </nav>
                    <script>
                        function getCookie(name) {
                            let cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        const csrftoken = getCookie('csrftoken');
                    </script>
                    
                <!-- Top Navigation Menu -->
                <div class="topnav">
                    <!-- <a href="#home" class="active">Logo</a> -->
                    <div id="myLinks">
                        <a href="{% url 'live_keyword' %}" class="active">인기검색어</a>
                        <a href="{% url 'ranking_news' %}">인기뉴스</a>
                        <a href="{% url 'search_bulk' %}">대량분석</a> 
                        <a href="{% url 'recommend_keywords' %}">키워드추천</a>
                        {% if request.user.is_staff %}
                        <a href="{% url 'expandKeyword' %}">키워드확장</a> 
                        <a href="{% url 'blogAnaylize' %}">블로그분석</a>
                        {% endif %}
                        <a href="{% url 'keywordHistory' %}">검색기록</a>
                        <a href="{% url 'introductionPage' %}">모키란?</a>
                        {% if request.user.is_active %}
                        <div class="dropdown nav-link">
                            <a class="dropdown-toggle text-primary" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{request.user.first_name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item my-auto" href="{% url 'authentication:user_logout' %}">로그아웃</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="dropdown nav-link my-auto dropdownMenuLink">
                            <a class="dropdown-toggle text-danger" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Guest
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item my-auto" href="{% url 'authentication:user_login' %}">로그인</a>
                                <a class="dropdown-item my-auto" href="{% url 'authentication:user_register' %}">회원가입</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars" id="icon_menu"></i>
                        <i class="fas fa-times" id="icon_close"></i>
                        <script>
                            /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
                            function myFunction() {
                                const iconView=document.getElementById("icon_menu");
                                const iconClose=document.getElementById("icon_close")
                                var x = document.getElementById("myLinks");
                                if (x.style.display === "block") {
                                    x.style.display = "none";
                                    iconView.style.display="block"
                                    iconClose.style.display="none"
                                } else {
                                    x.style.display = "block";
                                    iconView.style.display="none"
                                    iconClose.style.display="block"
                                }
                            }
                        </script>
                    </a>
                </div>
            </div>
            <button onclick="goToTop()" id="topBtn" title="Go to Top"><i class="fas fa-arrow-circle-up text-dark"></i></button>
        </header>

        {% block content %}

        {% endblock %}
        
     
        
        <footer class="mastfoot text-center footer" id="bottom_content">
            <div class="inner d-flex flex-column justify-content-center">
                <p class="mb-0"><strong>Copyright All Reserved by MOKEY  |  Contact : modapanda.corp@gmail.com</strong></p>
            </div>
        </footer>
    </div>
    
    

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="{% static 'xxx.js' %}"></script>
    
</body>
</html>