{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<main role="main" class="inner cover text-center mt-5 pb-5 mx-auto my-auto">


    <img src="{% static 'image/logo/main_logo.png' %}" alt="" style="height:auto; width:55%;">
    <h1 class="cover-heading desktop_only" id="search_title_desktop"><strong>모두의 키워드, 모키</strong></h1>
    <h3 class="cover-heading desktop_only" id="search_title_mobile"><strong>모두의 키워드</strong></h3>
    <p class="lead" style="color : rgb(141, 93, 93); font-size:100%;" id="search_title_sub_desktop">키워드를 입력하세요. 모키가
        키워드를 기반으로 블로그 분석을 도와드립니다.</p>
    <p class="lead" style="color : rgb(141, 93, 93); font-size:80%;" id="search_title_sub_mobile">빅데이터 기반 키워드 분석툴
    </p>
    <div class="input-group mb-3">
        <div class="input-group-append d-flex mx-auto" style="width:100%">
            <form class="form-group d-flex flex-row justify-content-center" method="POST" action="{% url 'search_l' %}"
                name="searchform" style="width:100%">
                {% csrf_token %}
                <input type="text" name="search_keyword" id="search_keyword" class="form-control"
                    placeholder="키워드를 입력하세요" aria-label="키워드를 입력하세요" aria-describedby="basic-addon2"
                    onkeypress="JavaScript:enterPress(this.form)" />
                <button class="btn btn-dark" type="submit" id="search_btn">검색</button>
            </form>
        </div>
    </div>
    <script>
        function getHistoryCount() {
            const hisotryCounter = document.getElementById("hisotryCounter");
            hisotryCounter.innerHTML = "";
            fetch('history', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                }
            })
                .then((res) => res.json())
                .then((result) => {
                    // hisotryCounter.insertAdjacentHTML('afterend',result)
                    hisotryCounter.innerHTML += `<strong>${result}</strong>`;
                })
        }
    </script>
</main>





<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
{% endblock %}