{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="d-flex flex-row justify-content-around">
    <div class="ads_panel_side px-5 bg-white text-center" style="width: 30%; height: 700px; margin-top:5%;">
        <iframe
            src="https://ads-partners.coupang.com/widgets.html?id=550314&template=carousel&trackingCode=AF2013773&subId=&width=200&height=700"
            width="200" height="700" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe>
    </div>
    <style>
        .ads_panel_side {
            position: sticky;
            top: 10%;
            z-index: 100;
        }
    </style>


    <main role="main" class="inner cover text-center mb-5 pb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">인기뉴스</li>
            </ol>
        </nav>
        <div class="ads_panel_main row bg-white text-center" style="height:150px;">
            <iframe
                src="https://ads-partners.coupang.com/widgets.html?id=550317&template=carousel&trackingCode=AF2013773&subId=&width=680&height=150"
                width="680" height="150" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe>
        </div>
        <div class="d-flex flex-column border">
            <div class="row">
                <div class="col">
                    <h5><strong>{{today}}</strong> 많이 본 뉴스</h5>
                    <div id="tagsResultDiv">
                        <h3><strong>{{tags_selected}}</strong></h3>
                        <p>{{tags_selected_count}}</p>
                        <a class="" href="/search-l2/{{tags_url}}">{{tagsTosearchBtn}}</a>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                
                
                 
                <img src="/static/image/news_wordcloud/output_news_2022-01-22.png" id="ranking_new_image" alt=""
                    height="100%;" style="width:auto;">
                
                <style>
                    #ranking_new_image:hover {
                        transform: scale(1.02);
                    }
                </style>
                
                <!-- Resources -->
                <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
                <script src="https://cdn.amcharts.com/lib/5/wc.js"></script>
                <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
                <!-- Styles -->
                <style>
                    #chartdiv {
                    width: 90%;
                    height: 400px;
                    }
                </style>
                <!-- Chart code -->
                <script>
                    am5.ready(function() {
                        // Create root element
                        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
                        var root = am5.Root.new("chartdiv");
                        
                        // Set themes
                        // https://www.amcharts.com/docs/v5/concepts/themes/
                        root.setThemes([
                            am5themes_Animated.new(root),
                        ]);
                        
                        // Add series
                        // https://www.amcharts.com/docs/v5/charts/word-cloud/
                        const rankingNews_title=document.getElementById("rankingNews_title");
                        var series = root.container.children.push(am5wc.WordCloud.new(root, {
                        maxCount:100,
                        minWordLength:2,
                        maxFontSize:am5.percent(35),
                        text: rankingNews_title.textContent,
                        }));
                        
                        // Configure labels
                        series.labels.template.setAll({
                        paddingTop: 5,
                        paddingBottom: 5,
                        paddingLeft: 5,
                        paddingRight: 5,
                        fontFamily: "Courier New"
                        });
                    }); // end am5.ready()
                </script>
                <!-- HTML -->
                <div class="d-flex flex-wrap" id="chartdiv"></div>
            </div>
            <div class="p-1 d-flex flex-row flex-wrap" style="font-size:13px; text-align:start; height:auto;"
                id="expandKeyword_searchLog">
                {% for data in news_tags %}
                <form action="{% url 'ranking_news' %}" method="POST">
                    {% csrf_token %}
                    <input class="border rounded-pill m-1 p-2" name="tags_contents" value="{{data.tags_title}}" style="display:none;">
                    <button class="btn btn-success btn-sm m-1" href="#" type="submit"><strong>#{{data.tags_title}}</strong></button>
                </form>
                {% endfor %}
            </div>
            <div class="row my-1 px-3">
                <div class="col">
                    <table class="table table-hover table-sm table-striped" style="font-size:100%;">
                        <tbody id="rankingNews_title">
                            {% for keyword in news_keywords %}
                            <tr>
                                {% if forloop.counter <= 10 %} <th class="h4" scope="row" style="color : green;">
                                    <strong>{{ forloop.counter }}</strong></th>
                                    {% else %}
                                    <th class="h4" scope="row" style="color : black;">
                                        <strong>{{ forloop.counter }}</strong>
                                    </th>
                                    {% endif %}
                                    <td style="text-align:left; vertical-align: middle;"><a href="{{ keyword.link }}"
                                            target="_blank"
                                            style="color:rgb(71, 68, 68); text-decoration: none;"><strong>{{ keyword.title }}</strong></a>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="ads_panel_main row bg-white text-center">
            <iframe
                src="https://ads-partners.coupang.com/widgets.html?id=550320&template=carousel&trackingCode=AF2013773&subId=&width=680&height=150"
                width="auto" height="150" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe>
        </div>
        <button onclick="goToTop()" id="topBtn" title="Go to Top">TOP</button>
    </main>


    <div class="ads_panel_side px-5 bg-white text-center" style="width: 30%; height: 700px; margin-top:5%;">
        <iframe
            src="https://ads-partners.coupang.com/widgets.html?id=550318&template=carousel&trackingCode=AF2013773&subId=&width=200&height=700"
            width="200" height="700" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe>
    </div>
</div>
{% endblock %}