<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>계정 인증 메일</title>
</head>

<body>
    <div class="" style="background-color:rgb(233, 233, 233); text-align:center;">
        <img src="https://www.mokey.net/static/image/logo/main_logo.png" alt="logo" width="auto" height="150px">    
        <div>
            <h1 style="text-align:center; color:black; font-size:50px;"><strong>{{username}}</strong> 님 안녕하세요</h1>
            <h3 style="text-align:center; color:black; font-size:30px;">회원가입을 진심으로 축하드립니다.</h3>
            <h3 style="text-align:center; color:black; font-size:30px;">모키는 빅데이터 기반 키워드 분석 솔루션입니다</h3>
            <h3 style="text-align:center; color:black; font-size:30px;">아래 인증 링크를 통해 회원가입을 완료해주세요</h3>
        </div>
        <h1><a style="text-decoration: none;" href="{{activate_url}}"><strong>인증완료</strong></a></h1>
    </div> 
</body>

</html>